{{> header }}
{{> menumenu }}
<title>Order</title>
<h1>You have successfully ordered</h1>
<br>
<div style= "text-align: center">
<a href="/all" type="button" class="btn btn-info">Continue Shopping</a>
</div>
{{> footer }}
